* {
  padding: 0;
  margin: 0;
  font-size: 1vw;
  box-sizing: border-box;
  list-style-type: none;
  font-family: "Noto Sans", sans-serif;
}

.anmt {
  position: relative;
  overflow: hidden;
}

.anmt:before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  border-bottom: 4px solid cyan;
  transition: left 0.5s ease;
}

.anmt:hover {
  cursor: pointer;
}

.anmt:hover:before {
  left: 0;
}

.anmt2 {
  display: block;
  height: 4.15vw;
  overflow: hidden;
  transform: translate(-45%, 0);
  animation: sanmt2 1s ease-in-out forwards;
}

@keyframes sanmt2 {
  0% {
    border-bottom: 0 solid cyan;
    width: 0;
    transform: translate(-45%, 0);
  }
  100% {
    border-bottom: 4px solid cyan;
    width: 50.6%;
    transform: translate(0, 0);
  }
}

.anmt4:hover {
  animation: b-t 0.5s ease-in-out forwards;
}

@keyframes b-t {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-2.5%);
  }
}

input, textarea {
  border: 2px solid black;
  margin: 0.5rem;
}